requests
python-dotenv
streamlit
langchain-community
asyncio
crawl4ai
snowflake
snowflake-connector-python
firebase_admin
bs4
langchain
typing
beautifulsoup4
mistralai
toml
nest-asyncio
PyPDF2
snowflake-snowpark-python