requests
python-dotenv
streamlit
langchain-community
asyncio
crawl4ai
snowflake
snowflake-connector-python
pathlib
firebase_admin
python-dotenv
bs4
langchain
typing
beautifulsoup4
selenium 
webdriver-manager
mistralai
toml