* {
    scroll-behavior: smooth;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba( 0, 0, 0, 0.05 );
    box-shadow: 0 8px 32px 0 hsla(18, 94%, 20%, 0.3);
    backdrop-filter: blur( 13px );
    border-radius: 10px;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.25rem;
    margin-right: 10px;
}

.navbar a:hover {
    border-bottom: 3px solid #ddd;
    color: orangered;
    transform: translateY(-7px) scale(1.1);
    transition: 0.5s ease transform;
}

#welcome-to-dev{
    font-size: 4.3rem;
    text-align: center;
    color: white;
    font-family: Montserrat;
}

#welcome-to-dev::after{
    content: "Rag";
    color: hsl(16, 100%, 55%);
    font-family: Montserrat;
}

.features-list strong{
    color:hsl(16, 100%, 55%);;
    font-size: 1.6rem;
    font-family: sans-serif;
}

.features-list li{
    color: white;
    font-size: 1.2rem;
    font-family:'Lucida Sans Unicode', sans-serif;
    font-weight: 800;
}

h3 {
    display: flex;
    justify-self: center;
    max-width: 600px;
    text-align: center;
}

#empowering-developers-with-instant-ai-driven-insights-by-combining-retrieval-augmented-generation-and-dynamic-web-scraped-knowledge{
    color: white;
    font-weight: lighter;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#devrag-is-an-advanced-rag-powered-application-that{
    justify-self: start;
}

#about,#features,#team,#tech-stack{
    color: white;
}

.st-key-get-started button {
    border-radius: 999px;
    padding: 1em 2em;
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
    border: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
    transition: box-shadow 0.25s ease 0s;
    letter-spacing: 0.08rem;
    display: flex;
    justify-self: center;
}

.st-key-get-started button p{
    font-size: 1em;
    font-weight: bold;
}

.st-key-get-started button:hover,
.st-key-get-started button:focus {
    background: linear-gradient(117deg, rgb(248, 137, 73), rgb(248, 82, 49));
    box-shadow: 0 0.1rem 0.8rem rgb(254, 100, 70);
}

.st-key-get-started button:active {
    color: white;
}

.st-emotion-cache-1h3k0y3{
    color: white;
    border-radius: 10px;
    padding: 1rem;
    background: rgba(125, 125, 125, 0.3);
    backdrop-filter: blur( 13px );
    box-shadow: 0 8px 32px 0 hsla(18, 94%, 20%, 0.3);
    max-width: 100%;
}

.st-emotion-cache-1h3k0y3 p{
    text-align: center;
}

.st-emotion-cache-1h3k0y3:hover{
    transform: scale(1.05);
    transition: ease all 0.5s;
    cursor: pointer;
    border: 1px solid white;
}

#hr-1{
    border: 1px solid tomato;
    opacity: 50%;
}

.tech-stack{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
}

.tech-stack img:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 8px rgba(255, 69, 0, 0.6));
    transition: ease all 0.3s;
    cursor: pointer;
}

#snowflake:hover{
    filter: drop-shadow(0 0 8px rgba(36, 182, 233, 0.6));
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.tech-stack img {
    animation: float 3s ease-in-out infinite;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    position: relative;
}

.card:hover{
    transform: scale(1.05);
    transition: ease all 0.5s;
    cursor: pointer;
}

.card:hover .social-media-handles {
    opacity: 1;
    transform: translateY(-5px);
}

.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.name {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: -6px;
}

.role {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}

.social-media-handles {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    transition: all 0.5s;
    opacity: 0;
}

.fa-github{
    color: black;
    font-size: 2rem;
}

.fa-linkedin{
    font-size: 2rem;
}

.fa-envelope{
    color: red;
    font-size: 2rem;
}

.social-media-handles a:hover {
    transform: translateY(-5px) scale(1.15);
    transition: ease all 0.5s;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    opacity: 0.6;
}